<div class="main">

<div class="div">
<table class="table table-bordered">
  <thead class="text-center">
    <tr>
      <th>Sl.No</th>
      <th>Event Title</th>
      <th>Event Date</th>
      <th>Location</th>
      <th>Register</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datas, index as i">
     <td class="text-center">{{i+1}}</td>
     <td>{{item.fullname}}</td>
     <td class="text-center">{{item.email}}</td>
     <td class="text-center">{{item.location}}</td>
     <td class="text-center"><button routerLink="/login">Register</button></td>
    </tr>
  </tbody>
</table>
</div>
<button routerLink="/home">Back</button>
</div>
